body {
  margin: 0;
  background-color: #FFFFFF;
  color: #555555;
  font-family: "Open-Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.connection-nav__link, .site-nav__link {
  display: block;
  text-decoration: none;
  padding: 20px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: color 250ms linear;
}

.button {
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.menu__toggle, .menu-toggle {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

.schedule__banner::before, .portfolio__banner::before, .expert__banner::before, .feature__banner::before, .servises__banner::before, .about__tit::before, .hero__slogan::before, .network__item--insta::before {
  display: inline-block;
  vertical-align: super;
  content: " ";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.form__textarea, .form__input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #FFFFFF;
  transition: border-bottom 250ms linear;
  padding: 2px;
}

.container {
  max-width: 480px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .site-nav,
.connection-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.logo {
  fill: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .logo {
    fill: #303030;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-left: 11px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 100px;
    gap: 30px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .connection-nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: auto;
    gap: 20px;
    padding-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .connection-nav {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 0;
  }
}

.connection-nav__link {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .connection-nav__link {
    padding: 20px 0;
  }
}
.connection-nav__link:hover, .connection-nav__link:focus {
  color: #FF6C00;
}

.button:hover, .button:focus {
  background-color: #FF6C00;
}

.section {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.section--hero {
  padding: 0;
}
@media screen and (max-width: 767px) {
  .section--hero {
    background-image: url(../images/heroimg3-480.jpg);
    background-color: #9DA4BD;
    background-size: cover;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section--hero {
    background-image: url(../images/heroimg3-480@2x.jpg);
  }
}

.container--hero {
  position: relative;
  display: flex;
  height: 580px;
}
@media screen and (min-width: 768px) {
  .container--hero {
    height: 680px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 120px;
    height: 680px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .network__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .network__list {
    display: flex;
    gap: 40px;
  }
}
.network__list--hero {
  position: absolute;
  top: 450px;
  left: -50px;
  transform: rotate(-90deg);
}
@media screen and (min-width: 1200px) {
  .network__list--hero {
    left: -75px;
  }
}

.network__link {
  display: inline-block;
  padding: 44px 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}
.network__link:hover, .network__link:focus {
  color: #FF6C00;
}

.network__item--insta::before {
  vertical-align: middle;
  margin-right: 40px;
  background-color: #303030;
}

.hero__wrapper {
  padding: 208px 0 209px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    padding: 272px 0 237px 120px;
    background-color: #555555;
    background-image: url(../images/heroimg3-570.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url(../images/heroimg3-570@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    padding: 272px 0 208px 100px;
    background-image: url(../images/heroimg3-1070.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url(../images/heroimg3-1070@2x.jpg);
  }
}

.hero__slogan {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 46px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (max-width: 767px) {
  .menu__wrapper,
.slider {
    display: none;
  }
}
.menu__wrapper {
  position: relative;
}

.menu {
  position: absolute;
  top: 325px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__active {
  position: absolute;
  top: 8px;
  right: 6px;
  opacity: 0;
  translate: opacity 250ms liner, transform 250ms liner;
}
.menu__active:hover, .menu__active:focus {
  opacity: 1;
  transform: scaleX(100%);
}

.slider {
  position: relative;
}
.slider__wrapper {
  display: inline-flex;
  position: absolute;
  bottom: 40px;
  right: 4px;
}

.slider__control {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 24px;
  width: 60px;
  height: 24px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  transition: color 250ms liner, border-bottom 250ms linear;
}
.slider__control:hover, .slider__control:focus {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.slider__control--next {
  justify-content: right;
}

@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    flex-direction: row;
  }
}

.about__wrapper {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .about__discription {
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__discription {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__discription {
    width: 470px;
  }
}

.about__tit {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}
.about__tit::before {
  background-color: #303030;
}

.about__title {
  font-family: "Raleway";
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.about__primarytext {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about__primarytext {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__secondarytext {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .about__secondarytext {
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .about__secondarytext {
    margin-bottom: 42px;
  }
}

.button--font-color {
  color: #303030;
}
.button--font-color:hover, .button--font-color:focus {
  color: #FFFFFF;
}

.section--services {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #303030;
  background-size: cover;
  max-width: 480px;
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-480.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--services {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section--services {
    max-width: 768px;
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section--services {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section--services {
    max-width: 1600px;
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--services {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../images/servicesbg-1600@2x.jpg);
  }
}

.servises__banner {
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.servises__title {
  font-family: "Raleway";
  text-align: left;
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .servises__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.servises__price {
  padding: 0;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .servises__price {
    padding: 30px 20px 30px 40px;
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .servises__price {
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .servises__part-price--one {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .servises__part-price--two {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.servises__list {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
}
@media screen and (min-width: 1200px) {
  .servises__list {
    width: 570px;
    padding: 30px 20px;
  }
}

.servises__name {
  text-align: left;
}

.servises__cost {
  text-align: right;
}

.servises__text {
  font-size: 13px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 480px) {
  .servises__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .servises__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.servises__text:not(:last-child) {
  margin-bottom: 20px;
}

.servises__part-price--one {
  margin-bottom: 20px;
}

.servises__wrapper {
  margin-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .feature__box {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 480px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
    width: 417px;
    height: 331px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .feature__list {
    width: 450px;
    margin-left: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    width: 370px;
    margin-left: 100px;
  }
}

.feature__item {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  background-color: #F7F7F7;
  width: 193px;
  height: 133px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 170px;
  }
}

@media screen and (max-width: 479px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.feature__item:nth-child(2n+1) {
  align-self: flex-start;
}

.feature__item:nth-child(2n) {
  align-self: flex-end;
}

.feature__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__number {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.feature__symbol {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #FF6C00;
  transform: translateY(-15px);
  margin-left: 2px;
}

.feature__post {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.feature__content {
  max-width: 500px;
}
@media screen and (max-width: 1199px) {
  .feature__content {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__content {
    margin-left: 130px;
  }
}

.feature__banner {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.feature__banner::before {
  background-color: #303030;
}

.feature__title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 41px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .feature__title {
    font-size: 42px;
  }
}

.feature__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section--expert {
  background-color: #F7F7F7;
}
@media screen and (max-width: 1199px) {
  .section--expert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.expert__banner {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.expert__banner::before {
  background-color: #303030;
}

.expert__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (max-width: 1199px) {
  .expert__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .expert__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.expert__discription {
  padding: 30px 30px 0 30px;
  text-align: center;
}

.expert__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.expert__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.icons-set {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon-network {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  fill: #303030;
  transition: fill 250ms linear;
}

.icon-network:hover,
.icon-network:focus {
  fill: accent-color;
}

@media screen and (max-width: 1199px) {
  .section--portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.portfolio__banner {
  margin-bottom: 71px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
}
.portfolio__banner::before {
  background-color: #303030;
}
@media screen and (min-width: 768px) {
  .portfolio__banner {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    flex-wrap: wrap;
  }
}

.section--prefooter {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #191C26;
}

.container--booking {
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container--booking {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .container--booking {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }
}

.container--contacts {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .container--contacts {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 115px;
    margin-right: 0;
    margin-left: 0;
    width: 50vw;
  }
}

.contacts__overlay {
  background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-480.jpg);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts__overlay {
    background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .contacts__overlay {
    background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts__overlay {
    background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__overlay {
    background-image: none;
  }
}

@media screen and (min-width: 1200px) {
  .prefooter__wrapper {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .prefooter__overlay {
    background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-785.jpg);
    background-size: 49% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prefooter__overlay {
    background-image: linear-gradient(rgba(25, 28, 38, 0.8), rgba(25, 28, 38, 0.8)), url(../images/prefooterbg-785@2x.jpg);
  }
}
.booking__title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .form__wrapper {
    display: inline-flex;
    gap: 30px;
  }
}
.form__input:hover, .form__input:focus {
  border-bottom: 1px solid #FFFFFF;
}

.form__input--name,
.form__input--tel {
  width: 270px;
}
@media screen and (min-width: 480px) {
  .form__input--name,
.form__input--tel {
    width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .form__input--name,
.form__input--tel {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input--name,
.form__input--tel {
    width: 270px;
  }
}

.form__textarea {
  width: 270px;
  resize: none;
}
.form__textarea:hover, .form__textarea:focus {
  border-bottom: 1px solid #FFFFFF;
}
@media screen and (min-width: 480px) {
  .form__textarea {
    width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .form__textarea {
    width: 690px;
  }
}
@media screen and (min-width: 1200px) {
  .form__textarea {
    width: 570px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.form__field {
  display: block;
  position: relative;
  max-width: 690px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .form__field {
    display: inline-flex;
    align-items: baseline;
  }
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms linear, transform 250ms linear;
}
.form__field:hover .form__label, .form__field:focus-within .form__label {
  color: #FFFFFF;
}
.form__textarea:not(:-moz-placeholder-shown) ~ .form__label, .form__input:not(:-moz-placeholder-shown) ~ .form__label {
  transform: translatey(-24px);
  color: rgba(157, 164, 189, 0.4);
}
.form__textarea:not(:-ms-input-placeholder) ~ .form__label, .form__input:not(:-ms-input-placeholder) ~ .form__label {
  transform: translatey(-24px);
  color: rgba(157, 164, 189, 0.4);
}
.form__textarea:focus ~ .form__label, .form__textarea:not(:placeholder-shown) ~ .form__label, .form__input:focus ~ .form__label, .form__input:not(:placeholder-shown) ~ .form__label {
  transform: translatey(-24px);
  color: rgba(157, 164, 189, 0.4);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__wrapper {
    width: 50%;
  }
}
.contacts__title {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: left;
  }
}

.address {
  text-align: left;
}

.address__svg {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 16px;
  stroke: #9DA4BD;
  fill: none;
  transition: stroke 250ms linear;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  stroke-width: 1.33px;
  color: #9DA4BD;
  transition: color 250ms linear;
}
.address__link:hover, .address__link:focus {
  color: #FFFFFF;
}

.address__link:hover .address__svg,
.address__link:focus .address__svg {
  stroke: #FFFFFF;
}

.address__item:not(:last-child) {
  margin-bottom: 20px;
}

.address__link--map {
  display: flex;
  font-weight: 700;
}

.address__link--mail {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.schedule {
  margin-top: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .schedule {
    margin-top: 0;
    align-self: center;
  }
}

.schedule__banner {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #FFFFFF;
}
.schedule__banner::before {
  background-color: rgba(157, 164, 189, 0.4);
  vertical-align: middle;
}

.schedule__schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.container--footer {
  height: 138px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container--footer {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .container--footer {
    height: 127px;
    align-items: center;
  }
}

.copyright {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
  padding: 44px 0;
}
@media screen and (max-width: 767px) {
  .copyright {
    align-self: flex-end;
  }
}

.network__list--footer {
  display: flex;
  align-self: flex-start;
  gap: 20px;
}
@media screen and (min-width: 480px) {
  .network__list--footer {
    gap: 40px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 106px 40px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .menu-container {
    width: 337px;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu__toggle {
  position: absolute;
  top: 48px;
  right: 31px;
}

.site-nav--mobile-menu {
  display: block;
}

.site-nav__list--mobile-menu {
  display: block;
  margin: 0;
}

.site-nav__link--mobile-menu {
  padding: 12px 0;
  font-size: 18px;
  line-height: 1.39;
  color: #303030;
}

.connection-nav--mobile-menu {
  display: block;
  margin-top: 40px;
  margin-bottom: 52px;
}

.connection-nav__link--mobile-menu {
  font-size: 18px;
  line-height: 1.39;
  color: #303030;
  padding: 12px 0;
  margin-bottom: 12px;
}

.button--mobile-menu {
  color: #303030;
  padding: 12px 37px;
}

.network__list--mobile-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
}

.network__link--mobile-menu {
  padding: 12px 0;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */