@media screen and (min-width: $desktop) {
    .feature__box {
        display: flex;
        flex-direction: row-reverse;
    }
}

.feature__list {
    @media screen and (min-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        width: 417px;
        height: 331px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 450px;
        margin-left: 240px;
    }

    @media screen and (min-width: $desktop) {
        width: 370px;
        margin-left: 100px;
    }
}

.feature__item {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    background-color: $feature-background-color;
    width: 193px;
    height: 133px;

    @media screen and (min-width: $tablet) {
        width: 210px;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
    }
}

@media screen and (max-width: $premobile) {
    .feature__item:not(:last-child) {
        margin-bottom: 30px;
    } 
}

.feature__item:nth-child(2n+1) {
    align-self: flex-start;
} 

.feature__item:nth-child(2n) {
    align-self: flex-end;
}

.feature__wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.feature__number {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: $primary-title-color;
}
    
.feature__symbol {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: $accent-color;
    transform: translateY(-15px);
    margin-left: 2px;
}

.feature__post {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;    
    text-align: center;
    color: $primary-title-color;
}

.feature__content {
    max-width: 500px;

    @media screen and (max-width: $predesktop) {
        margin-bottom: 44px; 
    }

    @media screen and (min-width: $desktop) {
        margin-left: 130px;
    }
}

.feature__banner {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;  
    text-transform: uppercase;
    color: $primary-title-color;

    &::before {
        @extend %decorStyle;
        background-color: $primary-title-color;
    }
}

.feature__title {
    margin-bottom: 20px;
    font-family: "Raleway";
    font-size: 41px;
    line-height: 1.17;
    letter-spacing: 0.05em;    
    color: $primary-title-color;

    @media screen and (min-width: $tablet) {
        font-size: 42px;
    }
}

.feature__text {
    font-size: 18px;
    line-height: 1.67;    
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}