$primary-text-color: #555555;
$secondary-text-color: #9DA4BD;
$primary-title-color: #303030;
$accent-color: #FF6C00;
$basic-background-color: #FFFFFF;
$feature-background-color: #F7F7F7;
$footer-background-color: #191C26;

